################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/jpegNPP_vs2015.VC.VC.opendb
